/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    color: black;
}

body {
    font-family: "Raleway","Quicksand","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}


h3{
    font-size: 12pt;
    color: black;
    /*margin-right: 10px;*/
    /*text-align: right;*/
}

a {
    color: #ff7a87;
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

p{
    font-size: 12pt;
}

/*Project Highlights*/

.highlight{
    background-color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

h1.proj-title{
    /*line-height: 50%*/
    margin-bottom: 0px;
}

h2{
    /*line-height: 20%;*/
    font-size: 10pt;
    margin-top: 0px;
    margin-bottom: 15px;
}


/*Portfolio*/
#portfolio{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

img.overlay-image{
    position: absolute;
    left: 15px;
    z-index: 3;
    height: 100%;
    width: auto;
    padding-bottom: 40px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: visible;
}

img.overlay-image:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*About*/

#about{
    background-color: #2D122A; /*plum*/
    padding: 10%;
    /*padding-top: 50%;*/
    color: white;
}

img.about {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

strong.bright{
    color: #22FFCC ;
    /*background-color: darkblue;*/
}

strong.gradient{
    background: -webkit-linear-gradient(orange, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong.purple{
    color: violet;
    /*background-color: darkblue;*/
}

/* Resume */

#resume{
    padding: 25px;
    background-color: #F9485A; /*pink*/
    color: white;
    transition: all 0.3s ease-in;
}

#resume:hover{
    background-color: #45deda; /*blue*/
    color: #2D122A;
}

a.resume{
    text-decoration: none;
    font-size: 14pt;
}

/*Tools*/
#tools{
    background-color: white;
    padding: 5%;
    text-align: center;s
}

h3.tools{
    /*line-height: 200%;*/
    margin-bottom: 45px;
    text-align: center;
    font-size: 14pt;
}

.white{
    color: white;
}

div.skill-pill {
    height: 40px;
    color: black;
    background: transparent;
    border: 1px solid black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

h4.pill{
    letter-spacing: 2px;
    font-size: 10pt;
    line-height: 145%;
}

h4.type{
    display: inline;
    color: white;
    margin-right: 20px;
}

/* button */
div.h-btn {
    /*height: 0px;*/
    color: black;
    background: transparent;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

div.h-btn:hover {
    color: white;
    /*background: black;*/
    border: 1px solid transparent;
    cursor: pointer;
}

.github:hover{
    background-color: #F9485A;
}

div.f-btn {
    /*height: 0px;*/
    color: white;
    background: transparent;
    border: 1px solid white;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out;
}

div.f-btn:hover {
    color: white;
    border: 1px solid transparent;
    cursor: pointer;
}

.mail:hover{
    background-color: #00D3EF;
}

.dribbble:hover{
    background-color: #ea4c89;
}

.linkedin:hover{
    background-color: orange;
}

.demo:hover{
    background-color: #45deda;
}

#care{
    background-color: white;
    color: black;
    background-size: cover;
    padding: 5%;

}

/* ***************Footer*************** */

@-webkit-keyframes colors {
          0% {
              background-color: #F9485A;
          }
          40%{
              background-color:  #2D122A;;
          }
          70% {
              background-color: #45DEDA;
          }
          100% {
              background-color: #F9485A;
          }
}

#footer {
    padding: 75px;
    text-align: center;
    margin: 0;
    transition: 200ms ease-in;
    background: #45deda;
    color: white;

    animation-name: colors;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}
