/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: "Maven Pro", "Quicksand","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

.orange {
    color: #f49681;
    margin: 0px;
}

.description{
    letter-spacing: 4px;
    position: absolute;
    top: 10%;
    padding: 5%;
}

ul.nav a:hover {
    color: #f49681 !important;
}

button.navbar-toggle{
    margin-top: 10px;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 2px;
    border: 1px solid #f49681 !important;
    transition: all 0.2s ease-in;
}

button.navbar-toggle:hover{
    background-color: #f49681 !important;
}

button.navbar-toggle:hover > .orange{
    color: white;
}

.text-vertical-center {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.text-vertical-center h1 {
    margin: 0;
    padding: 0;
    font-size: 4em;
    font-weight: 700;
    color: white;
}
.text-vertical-center h3 {
    color: white;
}

a.landing{
    color: white;
}

h2.portfolio{
    color: white;
}

/* Custom Button Styles */

.btn-dark {
    text-align: center;
    display: inline;
    border-radius: 10px;
    background-color: white;
    color: #f49681;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    background-color: #f49681;
    color: white;
}

.btn-light {
    color: #ffffff;
    font-weight: bold;
    border-color: rgba(255,255,255,1);
    border-radius: 25px;
    width: 300px;
    height: 100px;
    padding: 35px;
    margin: 25px;
}

.btn-light:hover,
.btn-light:focus,
.btn-light:active {
    background-color: rgba(255,255,255,1);
    width:300px;
    height:100px; 
    /*background-image: url(../img/pill-melello.jpg);*/
}

/* Custom Horizontal Rule */

hr.small {
    max-width: 150px;
}

/* Nav */

.navbar-header {
    float: left;
    padding: 0px;
    text-align: center;
    width: 100%;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

.navbar-transparent{
   background: rgba(255,255,255,1);
}

/* Header */

.header {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding-top: 20%;
    display: table;
    position: relative;
    width: 100%;
    height: 70%;
    background: url(../img/bg.jpg) no-repeat center center scroll;
    background-color: white;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* About */

.about {
    padding: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Resume Plug */

.resume {
    padding: 50px;
}

/* Experience */

.experience {
    padding: 50px;
}

.experience-item {
    margin-bottom: 30px;
}

/* Callout */

.callout {
    display: table;
    width: 100%;
    height: 400px;
    color: #fff;
    background: url(../img/callout.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

/* Portfolio */

.portfolio {
    padding: 50px;
}

.portfolio-item {
    margin-bottom: 15px;
    margin-top: 15px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}

/* Footer */

footer {
    padding: 30px;
    text-align: center;
}

#to-top {
  display: none;
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.footer a{
    color: white;
}

img.footer {
  height: 150px;
  width: auto;
  border-radius: 50%;
}

div.element1{
    display: inline;
}

/* Skill Pills s*/

div.skill-pill-cs-base {
    height: 40px;
    color: #527094;
    border: 1px solid #527094;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 6px;
    margin-bottom: 15px;
    border-radius: 10px; 
    transition: all 0.2s ease-in;
}

div.skill-pill-design-base {
    height: 40px;
    color: #b07c8f;
    border: 1px solid #b07c8f;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 6px;
    margin-bottom: 15px;
    border-radius: 10px; 
    transition: all 0.2s ease-in;
}

div.skill-pill-leadership-base {
    height: 40px;
    color: #f49681;
    border: 1px solid #f49681;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 6px;
    margin-bottom: 15px;
    border-radius: 10px;
    transition: all 0.2s ease-in;
}

div.skill-pill-cs {
    height: 40px;
    color: white;
    background-color: #527094;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    margin-bottom: 6px;
    border-radius: 10px; 
}

a.plug{
    font-size: 30px;
    color: gray;
}

span.plug{
    padding: 30px;
}

a.plug:hover{
    text-decoration: none;
}

div.skill-pill-cs-soft {
    height: 40px;
    color: white;
    background-color: #6b9ab5;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    margin-bottom: 6px;
    border-radius: 10px; 
}

div.skill-pill-design {
    height: 40px;
    color: white;
    background-color: #b07c8f;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    margin-bottom: 6px;
    border-radius: 10px; 
}
div.skill-pill-leadership {
    height: 40px;
    color: white;
    background-color: #f49681;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 2px;
    margin-bottom: 6px;
    border-radius: 10px; 
}

div.outline {
    border: 1px solid white;
}

div.inverse-cs {
    /*border: 1px solid white;*/
    background-color: white;
    color: #527094;
}

div.inverse-design {
    /*border: 1px solid white;*/
    background-color: white;
    color: #b07c8f;
}

div.inverse-leadership {
    /*border: 1px solid white;*/
    background-color: white;
    color: #f49681;
}

div.programming-port{
    color: white;
}

a.programming-port {
    font-size: 23px;
    letter-spacing: 4px;
    color: #BFEFFF;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;

}

a.programming-port:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 1; /* Here to change position of the line, 0 for under */
  left: 0;
  background-color: #BFEFFF;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.programming-port:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.ux-port {
  font-size: 23px;
  letter-spacing: 4px;
  color: #EED2EE;
  position: relative;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 10px;
}

a.ux-port:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 1;
  left: 0;
  background-color: #EED2EE;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.ux-port:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a.design-port {
    font-size: 23px;
    letter-spacing: 4px;
    color: #ffe2d7;
    position: relative;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 30px;
}

a.design-port:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ffe2d7;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

a.design-port:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

div.ux-port{
    color: white;
}

div.design-port {
    color: white;
}

a.footer {
    color: gray;
}

h1.footer {
    color: gray;
}

div.element5 {
    color: white;
    text-align: left;
    margin-left: 10%;
    margin-right: 10%;
}

a.to-resume:hover {
    /*text-decoration: none;*/
}

/*Highlight CS Skills*/
div.skill-pill-cs-base:hover {
    color: white;
    background-color: #527094;
    cursor: pointer;
}   

div.skill-pill-cs-base:hover ~ div.skill-pill-design,
div.skill-pill-cs-base:hover ~ div.skill-pill-leadership {
    background-color: lightgray;
    transition: all 0.2s ease-in;
}  

/*Highlight Design Skills*/
div.skill-pill-design-base:hover {
    color: white;
    background-color: #b07c8f;
    cursor: pointer;
}   

div.skill-pill-design-base:hover ~ div.skill-pill-cs,
div.skill-pill-design-base:hover ~ div.skill-pill-cs-soft,
div.skill-pill-design-base:hover ~ div.skill-pill-leadership {
    background-color: lightgray;
    transition: all 0.2s ease-in;
}  

/*Highlight Leadership Skills*/
div.skill-pill-leadership-base:hover {
    color: white;
    background-color: #f49681;
    cursor: pointer;
}   

div.skill-pill-leadership-base:hover ~ div.skill-pill-cs,
div.skill-pill-leadership-base:hover ~ div.skill-pill-design,
div.skill-pill-leadership-base:hover ~ div.skill-pill-cs-soft,
div.skill-pill-leadership-base:hover ~ div.skill-pill-design {
    background-color: lightgray;
    transition: all 0.2s ease-in;
}  

a.footer:hover {
    color: #f49681;
}

div.footer {
    background-color: black;
}

.footer-img {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    padding: 30%;
    display: table;
    position: relative;
    width: 100%;
    height: 30%;
    background: url(../img/footer.jpg) no-repeat center center scroll;
    background-color: #f49681;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

a.footer {
    color: gray;
    position: relative;
    text-decoration: none;
    display: inline-block;
}

a.footer:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #f49681;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a.footer:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a {
  text-decoration: none;
  color: inherit;
  position: relative;
  transition: all 0.2s ease-in;
}

a > img:hover {
  /*opacity: .85;*/
/*  padding: 10px;
  border: 2px solid #BFEFFF;*/
  /*transition: all 0.2s ease-in;*/
}

/*a.port{
  text-align: center;
}*/

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2#bio{
  color:white;
  margin-left: 10%;
  margin-right: 10%;
  visibility: hidden;
  -vendor-animation-duration: 3s;
  -vendor-animation-delay: 20s;
  -vendor-animation-iteration-count: infinite;
}






