body {
  padding: 0;
  margin: 0;
  font-family: 'Reem Kufi', serif;
}

#hero {
  /*height: 100%;*/
  /*width: 100%:*/
  /*height: auto;*/
  overflow: hidden;
  position: relative;
  height: 1348px; /*height of bg-photo*/
}

#content {
  background-color: #130d0a;
}

.layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 1348px; /*height of bg-photo*/
  position: fixed;
  z-index: -1;
}

#hero-mobile {
  display: none;
  background: url("../img/bg-08.png") no-repeat center bottom/cover;
  height: 320px;
}

.first-section {
  padding: 50px 0 20px 0;
}

.text-header {
  font-size: 50px;
  text-align: center;
}

h1 {
  line-height: 120%;
  margin-bottom: 30px;
}

#hero, .layer {
  min-height: 800px;
}

.layer-bg {
  background-image: url("../img/hero-02.png");
}

.layer-1 {
  background-image: url("../img/hero-03.png");
  /*background-position: left bottom;*/
}

.layer-2 {
  background-image: url("../img/hero-10.png");
}

.layer-3 {
  background-image: url("../img/hero-11.png");
  /*background-position: right bottom;*/
}

.layer-4 {
  background-image: url("../img/hero-12.png");
}

.layer-5 {
  background-image: url("../img/hero-13.png");
}

.layer-6 {
  background-image: url("../img/hero-14.png");
}

/*.layer-overlay {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_overlay.png\a 		");
}*/

/*@media only screen and (max-width: 768px) {
  #hero {
    display: none;
  }

  #hero-mobile {
    display: block;
  }
}*/

.title {
    position: absolute;
    width: 100%;
    padding-top: 20vh;
}

#melissa, #lopez {
  -webkit-animation-duration: 2s;
}

#gallery{
    background: -webkit-linear-gradient(#ffa07d, white);
    background: -o-linear-gradient(#ffa07d, white);
    background: -moz-linear-gradient(#ffa07d, white);
    background: linear-gradient(#ffa07d, white);
    height: 700px;
    background-color: white;
}
