/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    color: black;
}

body {
    font-family: "Maven Pro","Quicksand","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

a {
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

/*Portfolio*/
#portfolio{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

img.overlay-image{
    position: absolute;
    left: 15px;
    z-index: 3;
    height: 100%;
    width: auto;
    padding-bottom: 40px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: visible;
}

img.overlay-image:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*About*/

#about{
    background-color: #2D122A;
    padding: 10%;
    /*padding-top: 50%;*/
    color: white;
}

img.about {
  height: 150px;
  width: auto;
  border-radius: 50%;
}

strong.bright{
    color: #22FFCC ;
    /*background-color: darkblue;*/
}

strong.gradient{
    background: -webkit-linear-gradient(orange, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong.purple{
    color: violet;
    /*background-color: darkblue;*/
}


/*buttons / footer*/

#footer{
    padding: 100px;
}
button{
  transition: 200ms ease-in;
}
button:hover {
  color: ghostwhite;
}
button:hover:before {
  width: 100%;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #8CEDEB;
  z-index: -1;
  transition: 200ms ease-in;
}

#footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-space-between: 20px;
  transition: 200ms ease-in;
  background: #db5f43;
}

h1.button {
  /*max-width: 250px;*/
  text-transform: uppercase;
  color: ghostwhite;
  transition: 500ms ease-in;
}

button {
  margin: 5px;
  position: relative;
  overflow: hidden;
  background: none;
  border: 2px solid #8CEDEB;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #8CEDEB;
}
button a {
  text-decoration: none;
  color: inherit;
}
button a:hover, button a:active, button a:focus {
  text-decoration: none;
  color: inherit;
}
button:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
}
