/* Global Styles */

html,
body {
    width: 100%;
    height: 100%;
    color: black;
}

body {
    font-family: "Raleway","Quicksand","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
}

h1{
    /*font-family: 'Reem Kufi';*/
}

h3{
    font-size: 12pt;
    color: black;
    /*margin-right: 10px;*/
    /*text-align: right;*/
}

a {
    text-decoration: none;
    position: relative;
    transition: all 0.2s ease-in;
}

img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-bottom: 20px;

}

p{
    font-size: 12pt;
}

.highlight{
    background-color: white;
}

/*Portfolio*/
#portfolio{
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

img.overlay-image{
    position: absolute;
    left: 15px;
    z-index: 3;
    height: 100%;
    width: auto;
    padding-bottom: 40px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    visibility: visible;
}

img.overlay-image:hover{
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*About*/

#about{
    background-color: #2D122A; /*plum*/
    padding: 10%;
    /*padding-top: 50%;*/
    color: white;
}

img.about {
    width: 100%;
    height: auto;
    border-radius: 50%;
}

strong.bright{
    color: #22FFCC ;
    /*background-color: darkblue;*/
}

strong.gradient{
    background: -webkit-linear-gradient(orange, hotpink);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

strong.purple{
    color: violet;
    /*background-color: darkblue;*/
}

/* Resume */

#resume{
    padding: 25px;
    background-color: #F9485A; /*pink*/
    color: white;
    transition: all 0.3s ease-in;
}

#resume:hover{
    background-color: #45deda; /*blue*/
    color: #2D122A;
}

a.resume{
    text-decoration: none;
    font-size: 14pt;
}

/*Tools*/
#tools{
    background-color: white;
    padding: 5%;
}

h3.tools{
    line-height: 200%;
}

.white{
    color: white;
}

div.skill-pill {
    height: 40px;
    color: black;
    background: transparent;
    border: 1px solid black;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 10px;
    margin-bottom: 3px;
    border-radius: 10px;
}

h4.pill{
    letter-spacing: 2px;
    font-size: 10pt;
    line-height: 145%;
}

h4.type{
    display: inline;
    color: white;
    margin-right: 20px;
}

/* button */
div.h-btn {
    /*height: 0px;*/
    color: black;
    background: transparent;
    border: 1px solid black;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}
div.h-btn:hover {
    color: white;
    /*background: black;*/
    border: 1px solid transparent;
    cursor: pointer;
}

.github:hover{
    background-color: #F9485A;
}

.demo:hover{
    background-color: #45deda;
}

#care{
    background-color: white;
    color: black;
    /*background-image: url(../img/heart-color-bg.jpg);*/
    background-size: cover;
    padding: 5%;

}

#experience{
    background-color: white;
}

.experience-item{
    color: black;
    font-size: 12pt;
}








/*buttons / footer*/

#footer{
    padding: 100px;
}
button{
  transition: 200ms ease-in;
}
button:hover {
  color: ghostwhite;
}
button:hover:before {
  width: 100%;
}
button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #8CEDEB;
  z-index: -1;
  transition: 200ms ease-in;
}

#footer {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex-space-between: 20px;
  transition: 200ms ease-in;
  background: #db5f43;
}

h1.button {
  /*max-width: 250px;*/
  text-transform: uppercase;
  color: ghostwhite;
  transition: 500ms ease-in;
}

button {
  margin: 5px;
  position: relative;
  overflow: hidden;
  background: none;
  border: 2px solid #8CEDEB;
  border-radius: 3px;
  padding: 15px 30px;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 600;
  color: #8CEDEB;
}
button a {
  text-decoration: none;
  color: inherit;
}
button a:hover, button a:active, button a:focus {
  text-decoration: none;
  color: inherit;
}
button:focus {
  outline: 0;
}
button:hover {
  cursor: pointer;
}
